 
  <div class="row flex min-h-full py-2 rounded-md" style="border: 2px solid var(--e-white);">

    <div class="col-sm search-box">
      <input placeholder="Search" type="text" class="search">
    </div>

    <div class="col-sm sorting-box">

      <select name="" id="" class="sorting">
        <option> Sıralama </option>
        <option value="1"> Artan Fiyat </option>
        <option value="2"> Azalan Fiyat </option>
        <option value="3"> Çok Satanlar </option>
        <option value="4"> Yüksek Puanlılar </option>
      </select>

    </div>
  </div> 