<div class="container-fluid h-screen p-0 m-0 ">
  <div class="bg"></div>
</div>
<div class="container">

  <div class="row my-5">
    <div class="col flex justify-center items-center">
      <div class="text-2xl text-eGray font-semibold " style="color: var(--e-gray)">
        Daha fazlasını keşfet
      </div>
    </div>
  </div>

  <div class="row my-3 flex justify-evenly items-center ">

    <div class="col-md-3 category-card w-96 h-full m-0 p-0">
      <img class="w-full h-full category-image " src="../../../assets/images/tshirt/main-tshirt.jpg" alt="">
      <div class="category-centered">
        <div class="category-button">Tişört</div>
      </div>
    </div>

    <div class="col-md-3 category-card w-96 h-full m-0 p-0">
      <img class="w-full h-full category-image " src="../../../assets/images/sweatshirt/main-sweatshirt.jpg" alt="">
      <div class="category-centered">
        <div class="category-button">Kapşonlu</div>
      </div>
    </div>

    <div class="col-md-3 category-card w-96 h-full m-0 p-0">
      <img class="w-full h-full category-image " src="../../../assets/images/jacket/main-jacket.jpg" alt="">
      <div class="category-centered">
        <div class="category-button">Ceket</div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row flex my-5">
    <div class="col-md flex w-full h-80" style="background: var(--e-orange);">
      <!-- <div class="col">
        <img src="../../../assets/icons/gift-card.png" width="300" height="auto" alt="">
      </div>

      <div class="col inline-block justify-center items-center">
        <div class=" text-3xl font-semibold" style="color: var(--e-black);">
          Arkadaşlarınıza hangi hediyeyi alacağınızı bilmiyor musunuz?
        </div>

        <div>
          <button
            class="w-32 h-12 text-base font-semibold text-gray-300 border-2 border-gray-800 rounded-lg bg-gray-800 transition-all ease-in hover:text-gray-800 hover:bg-transparent ">
            Hediye kartı al
          </button>
        </div>

      </div> -->
    </div>
    <div class="col-md w-full h-80" style="background: var(--e-black);">

    </div>
  </div>
</div>

<app-draggable-carousel></app-draggable-carousel>

<!-- 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12  mx-auto">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <div class="img-box"><img src="../../../assets/images/tshirt/main-tshirt.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col">
                <div class="img-box"><img src="../../../assets/images/jacket/main-jacket.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col">
                <div class="img-box"><img src="../../../assets/images/sweatshirt/main-sweatshirt.jpg" class="img-fluid"
                    alt=""></div>
              </div>
              <div class="col">
                <div class="img-box"><img src="../../../assets/images/sweatshirt/main-sweatshirt.jpg" class="img-fluid"
                    alt=""></div>
              </div>
              <div class="col">
                <div class="img-box"><img src="../../../assets/images/sweatshirt/main-sweatshirt.jpg" class="img-fluid"
                    alt=""></div>
              </div>
              <div class="col">
                <div class="img-box"><img src="../../../assets/images/sweatshirt/main-sweatshirt.jpg" class="img-fluid"
                    alt=""></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-4">
                <div class="img-box"><img src="../../../assets/images/tshirt/main-tshirt.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="img-box"><img src="../../../assets/images/jacket/main-jacket.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="img-box"><img src="../../../assets/images/sweatshirt/main-sweatshirt.jpg" class="img-fluid"
                    alt=""></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-4">
                <div class="img-box"><img src="../../../assets/images/tshirt/main-tshirt.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="img-box"><img src="../../../assets/images/jacket/main-jacket.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="img-box"><img src="../../../assets/images/sweatshirt/main-sweatshirt.jpg" class="img-fluid"
                    alt=""></div>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div> -->