<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">
      <img src="../../../../assets/icons/menu.png" width="25" height="auto" class="cursor-pointer ">
    </button>
    <div class="container-fluid dropdown-content bg-gray-50 h-48  ">

      <div class="row">

        <div class="col-8 block justify-center items-center ">
          <div class="font-bold text-2xl text-center my-3 border-b border-gray-100"> ÜRÜNLER </div>
          <div class="row flex justify-center items-center">

            <div class="col-md-4 flex justify-center items-center">
              <a href=""> Tişört</a>
            </div>

            <div class="col-md-4 flex justify-center items-center">
              <a href=""> Kapşonlu</a>
            </div>

            <div class="col-md-4 flex justify-center items-center">
              <a href=""> Ceket</a>
            </div>

          </div>
        </div>

        <div class="col-4 border-l border-gray-100 ">
          <div class="font-bold text-2xl text-left my-3 border-b border-gray-100"> BİLGİ </div>
          <div class="row block">
            <div class="col-md flex justify-start items-center">Sipariş Takibi</div>
            <div class="col-md flex justify-start items-center">İade ve Değişim</div>
            <div class="col-md flex justify-start items-center">Yardım</div>
            <div class="col-md flex justify-start items-center">İletişim</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- 
  <div class="container-fluid z-20 fixed mt-16 bg-gray-50 h-48  ">
 
    <div class="row" >

      <div class="col-8 block justify-center items-center ">
        <div class="font-bold text-2xl text-center my-3 border-b border-gray-100"> ÜRÜNLER </div>
        <div class="row flex justify-center items-center">

          <div class="col-md-4 flex justify-center items-center">
            <a href=""> Tişört</a>
          </div>

          <div class="col-md-4 flex justify-center items-center">
            <a href=""> Kapşonlu</a>
          </div>

          <div class="col-md-4 flex justify-center items-center">
            <a href=""> Ceket</a>
          </div>

        </div>
      </div>

      <div class="col-4 border-l border-gray-100 ">
        <div class="font-bold text-2xl text-left my-3 border-b border-gray-100"> BİLGİ </div>
        <div class="row block">
          <div class="col-md flex justify-start items-center">Sipariş Takibi</div>
          <div class="col-md flex justify-start items-center">İade ve Değişim</div>
          <div class="col-md flex justify-start items-center">Yardım</div>
          <div class="col-md flex justify-start items-center">İletişim</div>
        </div>
      </div>

    </div>
  </div> -->